/* TABS */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    display: flex;
}

/* Float the list items side by side */
ul.tab li {
    float: left;
}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: #5B5B60;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
    transition: 0.3s;
}

ul.tab li a:hover {
    /* On hover */
    /*text-decoration-color: #094F9D;*/
    color: #094F9D;
}


ul.tab li a:focus, .active {
    /* Create an active/current tablink class */
    text-decoration: underline;
    color: #094F9D;;
    font-weight: bolder;
}

/* Style the tab content */
.tabcontent {
    display: none;
    width: 100%;
}

.lis {
    padding: 1%;
    font-size: 1em;
    margin: auto;
}

.tablinks {
    width: 100%;
}

#tab-content {
    margin-top: 25px;
    margin-bottom: 25px;
}
/* TABS */